<h1>{{title}}</h1>

<div id="add_new_place_form">
<label for="new_place">Enter place name</label>
<input id="new_place" type="text" />
</div>

<div id="place_list">
</div>

<P>Check a box to mark place as visited </P>